.container h1 {
    font-size: 5 vw;
    margin: 1pc;
    color: white;
}

.container h2 {
    font-size: 3.0vh;
    margin: 1pc;
    color: white;
}

p {
    font-size: 2vmin;
}

.container p {
    font-size: large;
    margin: 1pc;
    color: white;
    text-align: center;
}

.container img {
    width: 350px;
    height: auto;
}





@media only screen and (max-width: 600px) {
    .grid img {
        width: 80%;
        height: auto;
    }
}