.container {
    margin-bottom: 5vw;
    margin-top: 3vw;
}

.container h1 {
    margin: 2vw;
    color: white;
}

.About-grid {
    display: grid;
    grid-gap: 3vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;

}


.About-grid h2 {
    text-align: center;
    color: white;
}

.container p {
    font-size: 15px;
    color: white;
    text-align: center;
}


.About-grid img {
    width: 40%;
    margin: 2vw;

}

@media only screen and (min-width: 900px) {

    .About-grid {
        display: grid;
        grid-gap: 5vw;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);


    }

    .About-grid p {
        font-size: 24px;
        color: white;
        text-align: left;
    }

    .About-grid h2 {
        margin-top: 2vw;
        color: white;
        text-align: left;
    }

    .About-grid img {
        width: 80%;

    }

}