.Contact {
    margin-top: 5vw;
}

/* Slider adjustement */

.slide {
    width: 100%;
    height: auto;
}

.slide-container {
    width: 90%;
    margin: auto;
}

.each-slide span {
    font-size: 20px;
    text-align: center;
}


.each-slide>div {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}



/* cotact grid setup */
.contact-grid {
    width: 100%;
    height: auto;
    background: #757575;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: left;
    flex-direction: row;
    align-items: flex-start;

}


/* Contact form saperation from top text */
.contact-grid .col1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    flex-direction: column;
    align-items: center;

}

.Contact p {
    font-size: medium;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
    color: white;


}

.contact-grid input {
    font-size: medium;
    margin: 1VW;

}

.contact-grid textarea {
    font-size: medium;
    margin: 1VW;

}


Button {
    background-color: purple;
}



Form {
    margin-bottom: 1vw;
}


/* setup for the devices with small screen */
@media only screen and (max-width: 600px) {
    .contact-grid .col1 {
        display: grid;
        grid-gap: 3vw;
        grid-template-columns: repeat(1, 1fr);
        justify-content: left;
        flex-direction: column;
        margin: 2vw;
    }

    .Contact p {
        color: white;
        font-size: small;
    }

    .contact-grid input {
        font-size: small;
    }

    .contact-grid textarea {
        font-size: small;
    }


}

@media only screen and (min-width: 900px) {

    .each-slide>div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 500px;
        width: 500px;
    }


}