.home {
    width: 100%;
    font-family: "Arial", sans-serif;
    display: flex;
    margin-top: 0;
    margin-bottom: 5vw;
}

.grid {
    display: grid;
    column-gap: 5vw;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    flex-direction: column;


}

.about-grid {
    display: grid;
    grid-gap: 1vw;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    flex-direction: row;


}



.grid svg {
    font-size: 40px;
    margin: 2px;
    justify-content: center;
}

.icon {
    width: 100%;
    height: auto;
}



.col p {
    font-size: 10px;
    text-align: center;

}

/* the first section to home page in <div classname="about> */
.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: #f0f0f0;
}

.about h2 {
    font-family: "Arial", sans-serif;
    font-size: 40px;

}


.about img {
    width: 25%;
    padding: 1pc;
}




/* Css for mobile or screens with 600px maximum widdth */
@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 20px;
    }

    .about .prompt {
        font-size: 10px;
    }

    .about img {
        width: 50%;
        height: auto;
        padding: 1pc;
    }

    .grid {
        display: grid;
        grid-gap: 2svw;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        flex-direction: column;


    }



}