.home {
    width: 100%;
    font-family: "Arial", sans-serif;
    display: flex;




}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);

}

.cols {
    grid-column: span 1 /12;
    background-color: black;

}

.grid svg {
    font-size: 40px;
    margin: 2px;
}

.icon {
    width: 100%;
    height: auto;
}


.col p {
    font-size: 10px;


}

/* the first section to home page in <div classname="about> */
.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: #f0f0f0;
}

.about h2 {
    font-family: "Arial", sans-serif;
    font-size: 40px;

}


.about img {
    width: 25%;
    height: auto;
    padding: 1pc;


}




/* Css for mobile or screens with 600px maximum widdth */
@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 20px;
    }

    .about .prompt {
        font-size: 10px;
    }

    .about img {
        width: 50%;
        height: 50%;
        padding: 0pc;
    }



}

@media only screen and (min-width: 600px) {}
