.App {
  text-align: center;
  background-color: black;
  min-height: 120vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.h1 {
  color: white;
}